<div class="text-center">
  <h1>Doctors</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Speciality</th>
      <th>Appointments</th>
      <th>Patients</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name %></td>
        <td><%= doctor.speciality %></td>
        <td><%= link_to "Appointments", doctor_appointments_path(doctor), class:"btn btn-primary" %></td>
        <td><%= link_to "Patients", doctor_patients_path(doctor), class:"btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', hospital_path(@hospital), class: "btn btn-primary" %>
<%= link_to 'New Doctor', new_hospital_doctor_path, class:"btn btn-success" %>
