<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Management System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="/"><img src="C:\Users\M1093716\Desktop\hospital-building.png" width="60px" height="60px"></a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to 'Hospitals', hospitals_path , class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <%= yield %>
  </div>
  </body>
</html>
